.page {
	// .page__clients
	&__clients {
	}
}

.clients {
	padding: 100px 0px 70px 0px;
	@media (max-width: $tablet) {
		padding: 50px 0px 50px 0px;
	}
	@media (max-width: $mobile) {
		padding: 30px 0px 30px 0px;
	}
	// .clients__container
	&__container {
	}

	// .clients__title
	&__title {
		font-size: 14px;
		line-height: 1.6; /* 22/14 */
		letter-spacing: 1px;
		text-transform: uppercase;
		color: var(--main-light-color);
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 44px;
		}
	}

	// .clients__item
	&__slide {
		& img {
			max-width: 100%;
		}
	}
}

//?===========================slider===========================
.clients {
	// .clients__slide
	&__slide {
		position: relative;
	}
	//?===========================buttons prev next===========================
	& .swiper-button-next::after {
		display: none;
	}

	& .swiper-button-next::before {
		content: '';

		position: absolute;
		top: -80%;
		width: 115px;
		height: 64px;
		background: linear-gradient(270deg, #3d95f480 8%, rgba(0, 0, 0, 0) 100%);
		@media (max-width: $mobileSmall) {
			width: 50px;
		}
	}

	& .swiper-button-prev::after {
		display: none;
	}

	& .swiper-button-prev::before {
		content: '';

		position: absolute;
		top: -80%;
		width: 115px;
		height: 64px;
		background: linear-gradient(90deg, #3d95f480 8%, rgba(0, 0, 0, 0) 100%);
		@media (max-width: $mobileSmall) {
			width: 50px;
		}
	}
	& .swiper {
		width: 90%;
		padding: 0px 0px 20px 0px;
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	& .swiper-wrapper {
		padding-bottom: 10px;
	}
}
