.services {
	padding: 70px 0px 100px 0px;
	@media (max-width: $tablet) {
		padding: 50px 0px 50px 0px;
	}
	@media (max-width: $mobile) {
		padding: 30px 0px 30px 0px;
	}
	//* .services__container
	&__container {
		display: flex;
		gap: 32px;
		@media (max-width: 1170px) {
			flex-direction: column;
		}
		@media (max-width: 700px) {
			gap: 16px;
		}
	}

	//* .services__content
	&__content {
		flex: 1 1 48.2%;
		align-self: center;
	}

	//* .services__header
	&__header {
		& .header-main__title,
		& .header-main__text {
			@media (max-width: 1170px) {
				max-width: none;
			}
		}
	}

	// *.services__items
	&__items {
		flex: 1 1 51.8%;
		display: flex;
		gap: 32px;
		justify-content: center;
		@media (max-width: 700px) {
			flex-direction: column;
			gap: 16px;
		}
	}

	//* .services__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media (max-width: 700px) {
			gap: 16px;
		}

		&:first-child {
			padding-top: 48px;
			@media (max-width: 700px) {
				padding-top: 0px;
			}
		}
	}
}
//?===========================item-services===========================
.item-services {
	background-color: var(--card-bg-color);
	border-radius: 30px;
	padding: 55px 25px;
	display: block;

	//* .item-services__icon
	&__icon {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	// *.item-services__title
	&__title {
		font-weight: 400;
		font-size: 19px;
		line-height: 1.4;

		color: var(--main-light-color);
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	//* .item-services__text
	&__text {
		line-height: 1.5;
		color: var(--main-text-color);
	}
}
